*
{
    margin: 0;
    padding: 0;
    font-family: 'Raleway';
}

@font-face 
{
  font-family: 'Raleway';
  src: url('polices/Raleway.ttf') format('truetype');
}

body
{
    margin-left: 1em;
    margin-right: 1em;
}
/*Mise en forme du header*/
/*Mise en forme du nav*/

nav 
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
}

nav ul 
{
    display: flex;
    list-style-type: none;
    align-items: center;
}

nav img
{
    padding-top: 1em;
}

nav ul li a
{
    list-style: none;
    text-decoration: none;
    padding: 0em 1em 0em 1em ;
}

nav ul li
{
border-top: solid #0065FC;
padding-top: 2em;
}

nav ul li:nth-child(2)
{
    border-top: solid transparent;
}

nav ul li:nth-child(3)
{
    border-top: solid transparent;
    font-weight: bold;
}

nav ul li:hover
{
    border-top: solid #0065FC;
}

/*Mise en forme de la navbar des filtres*/
/*Mise en forme de la barre de recherche*/

#searchs p 
{
    padding-bottom: 0.5em;
}

#searchs p:first-child 
{
  font-weight: bold;
  font-size: 2em;
}

form
{
    max-width: 100%;
    overflow: auto;
}

label[for="search"]
{
  background-color: #F2F2F2;
  padding: 0.7em 0.9em 0.71em 0.9em;
  font-size: 0.5em;
  border-radius: 0.5em 0em 0em 0.5em;
}

input[type="text"]
{
  position: relative;
  right: 0.7em;
  border: 1px solid #F2F2F2;
  padding: 0.84em 0em 0.76em 1em;
  font-size: 14px;
  font-weight: bold;
}

input[type="submit"]
{
  position: relative;
  right: 1.36em;
  color: white;
  font-weight: bold;
  background-color: #0065FC;
  border: transparent;
  border-radius: 0px 5px 5px 0px;
  padding: 0.92em 0.5em 0.83em 0.5em;
  cursor: pointer;
  font-size: 14px;
}

/*Mise en place des filtres*/

#filters 
{
    margin-top: 1em;
}

#filters ul 
{
  display: flex;
  align-items: center;
  list-style-type: none;
}

#filters h2 
{
    font-size: 18px ;
    font-weight: bold;
}

#filters a 
{
  text-decoration: none;
  font-weight: bold;
  color: black;
  border: #F2F2F2 2px solid;
  border-left: transparent;
  padding: 0.38em 1.5em 0.34em 2em;
  border-radius: 0px 20px 20px 0px;
  font-size: 0.9em;
}

#filters i 
{
  border: #F2F2F2 2px solid;
  background-color: #F2F2F2;
  color: #0065FC;
  padding: 0.35em; 
  position: relative;
  left:1em;
  text-align: center;
  border-radius: 50%;
  height: auto;
  width: auto;
  font-size: 1em;
}

#filters a:hover
{
    background-color: #DEEBFF;
}
/*Mise en forme Aside*/

aside 
{
  display: flex;
  align-items: center;
  margin-top: 0.5em;
}

aside i 
{
color: #0065FC;
font-size: 10px;
border: solid 2px #F2F2F2;
padding: 0.4em;
border-radius: 50%;
width: 1em;
height: 1em;
text-align: center;
}

aside p 
{
  padding-left: 0.5em;
  font-size: 12px;
}

/*Mise en forme accommodationsmarseille*/

#accommodationsmarseille
{
    display: flex;
}

/*Mise en forme de accommodations*/

#accommodationsmarseille img
{
    width: 200px;
    height: 150px;
    border-radius: 1em;
}

#accommodations
{
    background-color: #F2F2F2;
    border-radius: 1em;
    margin: 1em 1em 0em 0em;
    padding: 1em;
}

#accommodations h2
{
    font-size: 20px;
    font-weight: bold;
}

#accommodations ul
{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

#accommodations ul li
{
    margin: 1em 1em 1em 0em;
    padding: 1em;
    border: white solid 2px;
    border-radius: 1em;
    background-color: white;
}

#accommodations ul li a
{
    text-decoration: none;
    color: black;
}

#accommodations ul li h2
{
    font-size: 15px;
    font-weight: bold;
}

#accommodations ul li p
{
    font-size: 12px;
}

#accommodations ul li i
{
    font-size: 13px;
    color: #0065FC;
}

#accommodations a:last-child
{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/*Mise en forme de mostpopular*/

.title
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}

#mostpopular
{
    margin-top: 1em;
    padding: 1em;
    background-color: #F2F2F2;
    border-radius: 1em;
}

#mostpopular ul
{
    display: flex;
    flex-direction: column;
    list-style-type: none ;
}

#mostpopular ul li
{
    margin: 0.5em 0em 0em 0em;
    border: white solid 0.3em;
    border-radius: 1em;
    background-color: white;
    /*max-width: 100%;*/
}

#mostpopular ul li a
{
    display: flex;
    text-decoration: none;
    color: black;
    
}

.carddescription
{
    display: flex;
    flex-direction: column;
}

#mostpopular ul li h2
{
    font-size: 15px;
    font-weight: bold;
    /*text-overflow: clip;*/
}

#mostpopular ul li p
{
    font-size: 12px;
}

#mostpopular ul li i
{
    font-size: 13px;
    color: #0065FC;
}

#mostpopular ul li img
{
    padding-right: 1em;
}

/*Mise en forme activity*/

#activity
{
    margin-top: 1em;
    padding: 1em;
}

#activity img 
{
    box-sizing: content-box;
    width: 100%;
}

#activity ul
{
    column-count: 4;
    list-style-type: none ;
}

#activity ul li 
{
    margin-bottom: 1em;
    margin-top: 1em;
    padding: 1em;
    border: white solid 2px;
    border-radius: 1em;
    background-color: white;
    max-width: 200px;
}

#activity ul li a
{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/*Mise en forme du footer*/

footer 
{
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
}

.informations
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2em 15em 2em 2em;
}

.informations h2
{
    font-weight: bold;
    font-size: 15px;
}

.informations a
{
    text-decoration: none;
    color: black;
    font-size: 12px;
    padding-top: 1em;
}


